<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form action="/logout" method="post" style="float: right">
    <button type="submit">Logout</button>
</form>

<form action="/create-restaurant" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="location" placeholder="Location">
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="text" name="comment" placeholder="Comment">
    <button type="submit">Submit Restaurant</button>
</form>



{{#restaurants}}
<b>{{name}}</b> - {{location}} - {{rating}}/5 - {{comment}}
<a href="/edit?id={{id}}"><button style="display: inline-block" type="button">Edit</button></a>
<form style="display: inline-block" action="/delete-restaurant" method="post">
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Delete Restaurant</button>
</form><br>
{{/restaurants}}

</body>
</html>